@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.h-x {
  height: 8px;
}

.h-2x {
  height: 16px;
}

.h-3x {
  height: 24px;
}

.w-2x {
  width: 16px;
}
